h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
a {
    color: orange;
    text-decoration: none;
}
.cat {
    position: sticky;
    top: 0;
    background-color: white;
}
.bottom {
    position: sticky;
    bottom: 0;
    background-color: #FFCC66;
    hight: 50px;
}
.bottonImage {
    height: 50px;
    width: auto;
}
.im {
    border: 0ch;
    border-radius: 50px;
}
.imt {
    font-weight: bolder;
    position: inherit;
}
